.navbar {
  height: 80px;
}

.nav-title {
  color: #104F55;
}

.navMenu > button,
.navMenu > button:focus{
  background: transparent !important;
  color: #104F55 !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.navMenu > .dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: 0 !important;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.bar-seperation {
  top: 13px;
  left: 1617px;
  width: 0px;
  height: 55px;
  border: 1px solid #707070;
  opacity: 0.19
}