.bg-green {
  background: $light-green;
  height: 100vh;
}

h4 {
  color: $header-color;
}

.sign-up--header__padding-top {
  padding-top: 125px;
}

.sign-up__h4 {
  color: $header-blue;
}

.btn-google {
  width: 100%;
  height: 56px;
}

.btn-primary {
  height: 56px;
}

.sign-up__div {
  max-width: 526px;
}
