body {
  font-family: 'poppins', sans-serif;
}

.cursor {
  cursor: pointer;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #48b971 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
  background-color: rgba(72, 185, 113, 0.13) !important;
}

.MuiIconButton-colorSecondary:hover {
  background-color: rgba(72, 185, 113, 0.13) !important;
}

